body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba (0, 0, 0, 0.5);
  display: flex;
  border: solid black 1px;
  padding: 10px;
}

.box .imgBx {
  width: 150px;
  flex: 0 0 150px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 2px;
}
.box .imgBx img {
  max-width: 120%;
  height: 100%;
  position: relative;
}
p {
  color: grey;
  float: center;
  padding: 15px;
  vertical-align: bottom;
  margin: 15px 0px;
}
.box .content {
  padding-left: 10px;
}
.box .content h3 {
  margin: 15px;
  padding-left: 0;
}
.img {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
}
.img2 {
  float: right;
  vertical-align: bottom;
  padding: 20px;
}
.contentV {
  float: left;
  margin: 5px;
  line-height: 1em;
}
