.post-container {
  margin: 20px 20px 0 0;
}

.post-thumb img {
  float: left;
  clear: left;
  width: 500px;
}

.post-title {
  float: right;
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: xx-large;
  font-weight: bold;
}

.post-content {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  font-size: x-large;
}
.footer {
  border-radius: 50%;
  width: 200px;
}
